# Data Analysis in Python - Exercise

In [19]:
import pandas as pd

In [22]:
#read a csv file from the parent folder into a dataframe
df = pd.read_csv('meteors.csv')
#print the "head" or top of the file. The (optional) argument in brackets is how many rows to print out (default n=5)
df.head(3)

,place,type_of_meteorite,mass_g,fell_found,year,database,coordinate_1,coordinates_2,cartodb_id,created_at,updated_at,year_date,longitude,latitude,geojson
0,Ur,Iron,0.00,Found,-2500.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,30.90000,46.01667,34242,15/02/2013 20:56,15/02/2013 21:04,NaN,46.01667,30.90000,"{""type"":""Point"",""coordinates"":[46.01667,30.9]}"
1,A-881561,H4,836.87,Found,1988.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,-72.00000,26.00000,4141,15/02/2013 20:56,15/02/2013 21:11,01/01/1988 00:00,26.00000,-72.00000,"{""type"":""Point"",""coordinates"":[26,-72]}"
2,Wietrzno-Bobrka,Iron,376.00,Found,-600.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,49.41667,21.70000,6037,15/02/2013 20:56,15/02/2013 21:04,NaN,21.70000,49.41667,"{""type"":""Point"",""coordinates"":[21.7,49.41667]}"

#### Selecting rows
You can select rows in a pandas dataframe like you would an array

In [23]:
df[3:5] #Â show the 3rd and 4th rows

,place,type_of_meteorite,mass_g,fell_found,year,database,coordinate_1,coordinates_2,cartodb_id,created_at,updated_at,year_date,longitude,latitude,geojson
3,A-881448,H4,341.27,Found,1988.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,-72.0,26.0,6340,15/02/2013 20:56,15/02/2013 21:11,01/01/1988 00:00,26.0,-72.0,"{""type"":""Point"",""coordinates"":[26,-72]}"
4,A-881813,L6,296.96,Found,1988.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,-72.0,26.0,6753,15/02/2013 20:56,15/02/2013 21:11,01/01/1988 00:00,26.0,-72.0,"{""type"":""Point"",""coordinates"":[26,-72]}"

#### Selecting a column
You can select a single or multiple columns, by passing in a list of column names

In [24]:
df[['place']][:3] # Selects the first 3 rows of the place column

             place
0               Ur
1         A-881561
2  Wietrzno-Bobrka

You can also select multiple columns

In [25]:
df[['mass_g', 'year']][:3]

   mass_g    year
0    0.00 -2500.0
1  836.87  1988.0
2  376.00  -600.0

You can group by values and count using `value_counts`

In [26]:
df['type_of_meteorite'].value_counts()[:10]

L6            6565
H5            5620
H4            3322
H6            3230
L5            2732
Stone-uncl    1942
LL5           1896
LL6            961
L4             822
H4/5           378
Name: type_of_meteorite, dtype: int64

Columns can also be references using the SQL-like notational of df.column_name. The next cell does the same as the previous one

In [27]:
df.type_of_meteorite.value_counts()[:10]

L6            6565
H5            5620
H4            3322
H6            3230
L5            2732
Stone-uncl    1942
LL5           1896
LL6            961
L4             822
H4/5           378
Name: type_of_meteorite, dtype: int64

**Exercise:**<br/> Find the number of meteor impacts where the meteor itself was found

#### Filtering
Pandas allows you to filter a dataframe by the values in columns

In [29]:
# filter by impacts after 1999, i.e. dataframe where it is true that df.year > 1999
after1999 = df[df['year'] > 1999] 
# only print the 1st 3
after1999[:3]

,place,type_of_meteorite,mass_g,fell_found,year,database,coordinate_1,coordinates_2,cartodb_id,created_at,updated_at,year_date,longitude,latitude,geojson
447,Xifu,"Iron, IAB complex",3000000.0,Found,2004.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,36.30000,120.48333,22,15/02/2013 20:56,15/02/2013 21:11,01/01/2004 00:00,120.48333,36.30000,"{""type"":""Point"",""coordinates"":[120.48333,36.3]}"
448,Al Haggounia 001,Aubrite,3000000.0,Found,2006.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,27.50000,-12.50000,23,15/02/2013 20:56,15/02/2013 21:11,01/01/2006 00:00,-12.50000,27.50000,"{""type"":""Point"",""coordinates"":[-12.5,27.5]}"
460,Gebel Kamil,"Iron, ungrouped",1600000.0,Found,2009.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,22.01833,26.08778,35,15/02/2013 20:56,15/02/2013 21:11,01/01/2009 00:00,26.08778,22.01833,"{""type"":""Point"",""coordinates"":[26.08778,22.018..."

Visualise what the above actually does

In [70]:
# to minimize the long array we are about to print and keep the notebook tidy
# you can click the cell output, just to the left of the index
print ("<<- click over here to reduce framesize of cell output \n")

# filter for after 1999
after1999 = df['year'] >1999 
# It evaluates the condition (df['year'] >1999) for every row in df and creates a boolean array
print (after1999)

<<- click over here to reduce framesize of cell output

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
34483     True
34484     True
34485     True
34486     True
34487     True
34488     True
34489     True
34490     True
34491     True
34492     True
34493     True
34494     True
34495     True
34496     True
34497     True
34498     True
34499     True
34500     True
34501     True
34502     True
34503     True
34504     True
34505     True
34506     True
34507     True
34508     True
34509     True
34510     True
34511     True
34512     True
Name: year, dtype: bool

We can filter on multiple columns

In [33]:
#Â filter for meteor type
mtype = df['type_of_meteorite'] == "L6" 
# apply both filters and show top 3 results
df[after1999 & mtype][:3]

,place,type_of_meteorite,mass_g,fell_found,year,database,coordinate_1,coordinates_2,cartodb_id,created_at,updated_at,year_date,longitude,latitude,geojson
497,JaH 073,L6,550000.0,Found,2002.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,19.70000,55.73333,73,15/02/2013 20:56,15/02/2013 21:11,01/01/2002 00:00,55.73333,19.70000,"{""type"":""Point"",""coordinates"":[55.73333,19.7]}"
620,Jalu,L6,150000.0,Found,2000.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,27.95833,21.68333,195,15/02/2013 20:56,15/02/2013 21:11,01/01/2000 00:00,21.68333,27.95833,"{""type"":""Point"",""coordinates"":[21.68333,27.958..."
649,Dho 005,L6,125500.0,Found,2000.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,18.16667,54.16667,226,15/02/2013 20:56,15/02/2013 21:11,01/01/2000 00:00,54.16667,18.16667,"{""type"":""Point"",""coordinates"":[54.16667,18.166..."

**Exercise:**<br/>
Find all meteor impacts over 20000000g after 1900

#### Sorting
You can sort a Dataframe by any of the columns

In [35]:
# Show the (5) heaviest meteor impacts
df.sort_values(by='mass_g', ascending=[False])[0:5]

,place,type_of_meteorite,mass_g,fell_found,year,database,coordinate_1,coordinates_2,cartodb_id,created_at,updated_at,year_date,longitude,latitude,geojson
426,Hoba,"Iron, IVB",60000000.0,Found,1920.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,-19.58333,17.91667,1,15/02/2013 20:56,15/02/2013 21:11,01/01/2020 00:00,17.91667,-19.58333,"{""type"":""Point"",""coordinates"":[17.91667,-19.58..."
427,Cape York,"Iron, IIIAB",58200000.0,Found,1818.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,76.13333,-64.93333,2,15/02/2013 20:56,15/02/2013 21:11,1818-01-01 00:00:00,-64.93333,76.13333,"{""type"":""Point"",""coordinates"":[-64.93333,76.13..."
428,Campo del Cielo,"Iron, IAB-MG",50000000.0,Found,1576.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,-27.46667,-60.58333,3,15/02/2013 20:56,15/02/2013 21:11,1576-01-01 00:00:00,-60.58333,-27.46667,"{""type"":""Point"",""coordinates"":[-60.58333,-27.4..."
429,Canyon Diablo,"Iron, IAB-MG",30000000.0,Found,1891.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,35.05000,-111.03333,4,15/02/2013 20:56,15/02/2013 21:11,1891-01-01 00:00:00,-111.03333,35.05000,"{""type"":""Point"",""coordinates"":[-111.03333,35.05]}"
430,Armanty,"Iron, IIIE",28000000.0,Found,1898.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,47.00000,88.00000,5,15/02/2013 20:56,15/02/2013 21:11,1898-01-01 00:00:00,88.00000,47.00000,"{""type"":""Point"",""coordinates"":[88,47]}"

# Indexing
But be careful. Each entry has an index which it is given as it is read in from the data file. Normally this is sequential but you can confirm this by printing out df.head() and noting that the first (unlabelled) column contains sequential integers.

In [36]:
df.head()

,place,type_of_meteorite,mass_g,fell_found,year,database,coordinate_1,coordinates_2,cartodb_id,created_at,updated_at,year_date,longitude,latitude,geojson
0,Ur,Iron,0.00,Found,-2500.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,30.90000,46.01667,34242,15/02/2013 20:56,15/02/2013 21:04,NaN,46.01667,30.90000,"{""type"":""Point"",""coordinates"":[46.01667,30.9]}"
1,A-881561,H4,836.87,Found,1988.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,-72.00000,26.00000,4141,15/02/2013 20:56,15/02/2013 21:11,01/01/1988 00:00,26.00000,-72.00000,"{""type"":""Point"",""coordinates"":[26,-72]}"
2,Wietrzno-Bobrka,Iron,376.00,Found,-600.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,49.41667,21.70000,6037,15/02/2013 20:56,15/02/2013 21:04,NaN,21.70000,49.41667,"{""type"":""Point"",""coordinates"":[21.7,49.41667]}"
3,A-881448,H4,341.27,Found,1988.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,-72.00000,26.00000,6340,15/02/2013 20:56,15/02/2013 21:11,01/01/1988 00:00,26.00000,-72.00000,"{""type"":""Point"",""coordinates"":[26,-72]}"
4,A-881813,L6,296.96,Found,1988.0,http://www.lpi.usra.edu/meteor/metbull.php?cod...,-72.00000,26.00000,6753,15/02/2013 20:56,15/02/2013 21:11,01/01/1988 00:00,26.00000,-72.00000,"{""type"":""Point"",""coordinates"":[26,-72]}"

^ These labels remain the same even after you have sorted the data, so the label of the top entry when sorted by `mass_g` is then not 0 but 426, meaning the 426th entry in the data set is the heaviest meteor. In the next cell, experiment with `.ix` and `.iloc`

In [55]:
#In both cases, we sort the original dataframe by mass with the heaviest first, as was done above. 
#In the first case, we ask for the mass of the meteor with index 426 (.ix[426]['mass_g'])
print (df.sort_values(by='mass_g', ascending=[False]).ix[426])

print ()
#In the second case, we use the (sequential) index location or iloc
print (df.sort_values(by='mass_g', ascending=[False]).iloc[0])

place                                                             Hoba
type_of_meteorite                                            Iron, IVB
mass_g                                                           6e+07
fell_found                                                       Found
year                                                              1920
database             http://www.lpi.usra.edu/meteor/metbull.php?cod...
coordinate_1                                                  -19.5833
coordinates_2                                                  17.9167
cartodb_id                                                           1
created_at                                            15/02/2013 20:56
updated_at                                            15/02/2013 21:11
year_date                                             01/01/2020 00:00
longitude                                                      17.9167
latitude                                                      -19.5833
geojson              {"type":"Point","coordinates":[17.91667,-19.58...
Name: 426, dtype: object

place                                                             Hoba
type_of_meteorite                                            Iron, IVB
mass_g                                                           6e+07
fell_found                                                       Found
year                                                              1920
database             http://www.lpi.usra.edu/meteor/metbull.php?cod...
coordinate_1                                                  -19.5833
coordinates_2                                                  17.9167
cartodb_id                                                           1
created_at                                            15/02/2013 20:56
updated_at                                            15/02/2013 21:11
year_date                                             01/01/2020 00:00
longitude                                                      17.9167
latitude                                                      -19.5833
geojson              {"type":"Point","coordinates":[17.91667,-19.58...
Name: 426, dtype: object

We can also access columns with `.ix` or `.iloc` by adding a second argument

In [57]:
# sorted dataframe and print all rows of third columns
df.sort_values(by='mass_g', ascending=[False]).iloc[:, 2]

426      60000000.0
427      58200000.0
428      50000000.0
429      30000000.0
430      28000000.0
431      26000000.0
432      24300000.0
433      24000000.0
434      23000000.0
435      22000000.0
436      16000000.0
437      15500000.0
438      10100000.0
439       9500000.0
440       8600000.0
441       7000000.0
442       5360000.0
443       4300000.0
444       4000000.0
445       3828000.0
446       3000000.0
448       3000000.0
447       3000000.0
449       2753000.0
450       2550000.0
451       2300000.0
452       2184000.0
453       2100000.0
454       2000000.0
455       2000000.0
            ...
281             0.0
305             0.0
307             0.0
333             0.0
321             0.0
332             0.0
331             0.0
330             0.0
329             0.0
328             0.0
327             0.0
326             0.0
325             0.0
324             0.0
323             0.0
322             0.0
320             0.0
308             0.0
319             0.0
318             0.0
317             0.0
316             0.0
315             0.0
314             0.0
313             0.0
312             0.0
311             0.0
310             0.0
309             0.0
34512           0.0
Name: mass_g, dtype: float64

In [58]:
#Tying this together, the following script will print out the masses of the heaviest 15 meteors
mass_sorted_df = df.sort_values(by='mass_g', ascending=[False])
print ((mass_sorted_df.iloc[:15])['mass_g'])

426    60000000.0
427    58200000.0
428    50000000.0
429    30000000.0
430    28000000.0
431    26000000.0
432    24300000.0
433    24000000.0
434    23000000.0
435    22000000.0
436    16000000.0
437    15500000.0
438    10100000.0
439     9500000.0
440     8600000.0
Name: mass_g, dtype: float64

### Numpy
Provides multi-dimensional arrays (e.g. vectors, matrices, ...) and generally comes in handy when we want to do quick mathematical calculations on our dataframes. So let's start by importing it

In [71]:
import numpy as np

#### Usually in notebooks we import all the modules at the top

Numpy makes it very easy to create multi-dimensional arrays

In [72]:
# zero vector
v = np.zeros(3)
# n by m matrix of ones
M = np.ones((3,4))
# array of arrays
A = np.array([[1,2,3],[4,5,6]]) 
print ("Zeros\n", v)
print ("Ones\n", M)
print ("Array\n", A)

Zeros
 [ 0.  0.  0.]
Ones
 [[ 1.  1.  1.  1.]
 [ 1.  1.  1.  1.]
 [ 1.  1.  1.  1.]]
Array
 [[1 2 3]
 [4 5 6]]

It can also create arrays based on a range

In [73]:
x = np.arange(10)
print (x)

[0 1 2 3 4 5 6 7 8 9]

And you can reshape an array

In [74]:
b = np.arange(12).reshape(4,3)
print (b,"\n")

b = b.reshape(3,4)
print (b)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

The values can easily be manipulated

In [75]:
b = np.arange(4)
print (b)
print (b**2)
print (b < 2)

[0 1 2 3]
[0 1 4 9]
[ True  True False False]

And be created from a random uniform distribution

In [76]:
y = np.random.uniform(size=10) 
print (y)

[ 0.8216498   0.06282545  0.96008575  0.69829277  0.50362221  0.12240975
  0.46899675  0.07600882  0.65016132  0.29667706]

And even create the identity matrix

In [77]:
np.identity(4)

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

**Exercise:**<br/>
Create an 3x3 array with random uniform values

NumPy speeds up loops <i>a lot</i>, because it pushes loops into it's compiled layers. You can make use of this by using numpy arrays rather than python lists, and using:
1. <b><a href=http://docs.scipy.org/doc/numpy/reference/ufuncs.html>Ufuncs</a></b> for element-wise operations on arrays
2. <b>Aggregations</b> for summarizing the values of an array (e.g. np.min, np.max, np.sum, np.mean)
3. <b><a href=http://scipy.github.io/old-wiki/pages/EricsBroadcastingDoc>Broadcasting</a></b> for combining arrays
4. <b><a href=http://docs.scipy.org/doc/numpy/reference/arrays.indexing.html>Indexing and slciing</a></b> as discussed above
> There is an  <a href=http://nbviewer.ipython.org/github/jrjohansson/scientific-python-lectures/blob/master/Lecture-2-Numpy.ipynb> alternative intro to numpy here</a> by J.R. Johansson

#### Answers to exercises

Find the number of meteor impacts where the meteor itself was found

In [ ]:
df.fell_found.value_counts()

Find all meteor impacts over 20000000g after 1900

In [ ]:
after1900 = df['year'] > 1900 
mass = df['mass_g'] > 20000000 
df[after1900 & mass]

Create an 3x3 array with random uniform values

In [ ]:
np.random.uniform(size=9).reshape((3,3))